%p#notice
- if notice.present?
	%div.alert.alert-success
		= notice
-if alert.present?
	%div.alert.alert-danger
		= alert
find me in dashboard#index.html.haml

%p
total number of Fixed assets:
= @count

%p
total consumable parts: 
= @consumables.all.count


%p 
consumables that need to be re-ordered

%table.table.table-hover
	%thead
		%tr
			%th Name
			%th asset tag
	%tbody
	- @consumables.all.each do |consumable|
		- if consumable.quantity <= consumable.reorderAmount && !consumable.obsolete
			%tr.table-danger
				%td= consumable.name
				%td= link_to "#{consumable.asset_tag.tag}", asset_tag_path(consumable.asset_tag.id)