= simple_form_for(@fixed_asset) do |f|
  .form-inputs
    = f.input :InstalledLocation, label: 'Installed Location (Generalized)', placeholder: 'Room number, studio name, or building...'
    = f.input :description
    = f.input :RackUnit, label: 'Rack Unit', placeholder: 'not required if using netbox'
    = f.association :part, :label_method => :internal_part
    = f.input :serial_number
    = f.input :primary_mac, label: 'Primary MAC address'

  .form-actions
    = f.button :button, "Create Asset".html_safe, data: {disable_with: "<i class='fa fa-cog fa-spin'></i> Creating Asset..."}, :class => "btn btn-primary"
