<p id="notice"><%= notice %></p>

<p>
  <strong>Installedlocation:</strong>
  <%= @fixed_asset.InstalledLocation %>
</p>

<p>
  <strong>Rackunit:</strong>
  <%= @fixed_asset.RackUnit %>
</p>
<strong>Netbox:</strong>
<% if @nb_device.nil? %>
 This item is not in netbox
<% else %>
   <%= @nb_device.name %>
  <% end %>
<p>
  <strong>Part:</strong>
  <%= @fixed_asset.part.internal_part %>
</p>

<%= link_to 'Edit', edit_fixed_asset_path(@fixed_asset) %> |
<%= link_to 'Back', fixed_assets_path %>
