#notice= notice

= @order.order_id
= @order.user

%br

- @order.consumables.each do |consumable|
  =consumable.asset_tag.tag

%br
= link_to 'Edit', edit_order_path(@order)
= link_to 'Back', orders_path
