#notice= notice
%br
%div{:class => "container"}

  %div{:class => "row"}
    %div{:class => "card text-center mx-auto", :style => "width: 45em;"}
      %div{:class => "card-header"}
        Order / BOM #
        = @order.order_id
      %div{:class => "card text-center mx-auto border-0", :style => "width: 43em;"}
        user:
        = @order.user

        %div{:class => "card py-3 border-0"}
          %table.table.table-hover.table-sm
            %thead
              %tr
                %th Consumable Tag
                %th Consumable Name
                %th Consumable Descrption
                %th Quantity
            %tbody
              - @order.line_items.each do |info|
                %tr
                  %td= info.consumable.asset_tag.tag
                  %td= info.consumable.name
                  %td= info.consumable.description
                  %td= info.quantity
            
            
        %div{:class => "row py-3 border-0"}
          %div{:class => "col-sm"}
            = link_to 'Edit', edit_order_path(@order), :class => "btn btn-primary"
          %div{:class => "col-sm"}
            = link_to 'Back', orders_path, :class => "btn btn-primary"
          