<div class="card mx-auto text-center" style="width: 45rem;">
  <div class="card-header">
    Log In
    </div>
    <div class="card mx-auto border-0" style="width: 30rem;">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>

  </div>

  <div class="form-actions btn btn-outline-primary">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>

</div>
