find me in quick_remove#confirm

%h1 You are about remove some shit, confirm?

= "tag is #{@item_tag.tag_number}"

= "consumable is #{@item_tag.consumable.name}"

= link_to "Confirm", quick_remove_confirm_path(:remove_tag => @item_tag, :remove_quantity => "1"), method: :post