= simple_form_for(@user, url: edit_admin_user_path) do |f|
	.form-inputs
		= f.input :email
		= f.input :admin
		= f.input :manager
	.form-actions
		= f.button :submit, "Update User", :class => "btn btn-primary"
