= simple_form_for(@consumable) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :name, placeholder: 'Used for body of label'
    -# = f.association :part, :as => :collection_select, collection: Part.where('part_type >?', 0), :label_method => :internal_part, :input_html => { class: 'js-searchable'}
    = f.association :part, :as => :collection_select, :label_method => :internal_part, :input_html => { class: 'js-searchable'}
    = f.input :category
    = f.input :quantity
    = f.input :reorderAmount
    = f.input :site, collection: @location
    = f.input :shelf
    = f.input :bin
    = f.input :obsolete
    %p
      %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#collapseExample", role: "button"}
        Overstock
    #collapseExample.collapse

      = f.input :overstock
      = f.input :overstock_quantity
      = f.input :overstock_location
      = f.input :overstock_notes

  .form-actions
    = f.button :button, "Save Asset".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Asset..."}, :class => "btn btn-primary"
