<%= form_with(model: consumable, local: true) do |form| %>
  <% if consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consumable.errors.count, "error") %> prohibited this consumable from being saved:</h2>

      <ul>
      <% consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :reorderAmount %>
    <%= form.number_field :reorderAmount %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :shelf %>
    <%= form.text_field :shelf %>
  </div>

  <div class="field">
    <%= form.label :bin %>
    <%= form.text_field :bin %>
  </div>

  <div class="field">
    <%= form.label :obsolete %>
    <%= form.check_box :obsolete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
