%p#notice= notice
%h1 Consumables 
= link_to "  ", new_consumable_path, :class => 'btn btn-success fa fa-plus'
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Quantity
      %th Reorderamount
      %th Shelf
      %th Bin
      %th Asset Tag
      %th Internal Part #
      %th{:colspan => "3"}
  %tbody
    - @consumables.all.each do |consumable|
      - if consumable.quantity <= consumable.reorderAmount
        %tr.table-danger
          %td= consumable.name
          %td= consumable.description
          %td= consumable.quantity
          %td= consumable.reorderAmount
          %td= consumable.shelf
          %td= consumable.bin
          %td= link_to "#{consumable.asset_tag.tag}", asset_tag_path(consumable.asset_tag.id)
          %td= consumable.part.internal_part

          %td= link_to 'Show', consumable
          %td= link_to 'Edit', edit_consumable_path(consumable)

      - else
        %tr
          %td= consumable.name
          %td= consumable.description
          %td= consumable.quantity
          %td= consumable.reorderAmount
          %td= consumable.shelf
          %td= consumable.bin
          %td= link_to "#{consumable.asset_tag.tag}", asset_tag_path(consumable.asset_tag.id)
          %td= consumable.part.internal_part
          %td= link_to 'Show', consumable
          %td= link_to 'Edit', edit_consumable_path(consumable)

%br/
= link_to 'New Consumable', new_consumable_path
