%p#notice
  - if notice.present?
    %div.alert.alert-success
      = notice
  -if alert.present?
    %div.alert.alert-danger
      = alert

%div{:class => "container-fluid"}
  %div{:class => "row"}
    %div{:class => "col-sm"}
      %div{:class => "card-deck"}
        %div{:class => "card"}
          %div{:class => "card-header text-center"}
            %h5 #{@consumable.name}
          %span
            %table.table.table-hover
              %tr
                %td Description
                %td= @consumable.description
              %tr
                %td category
                %td= @consumable.category
              %tr
                %td Internal Part Number
                %td= @consumable.part.internal_part
              %tr
                %td Asset Tag Number
                %td= link_to "#{@consumable.asset_tag.tag}", asset_tag_path(@consumable.asset_tag.id)
              %tr
                %td Quantity On Hand
                %td= @consumable.quantity
              %tr
                %td Reorder At Quantity
                %td= @consumable.reorderAmount

            %div.card-body.d-flex.justify-content-between
              = link_to 'Edit', edit_consumable_path(@consumable), :class => "btn btn-light"
              = link_to "Remove One", remove_one_consumable_path(:remove_tag => @item_tag, :remove_quantity => "1"), method: :post, :class => "btn btn-danger"
              = link_to 'Back', consumables_path, :class => "btn btn-light"


        %div.card
          %div.card-header.text-center
            %h5 Location
          %span
            %table.table.table-hover
              %tr
                %td Shelf #
                %td= @consumable.shelf
              %tr
                %td Bin #
                %td= @consumable.bin
              %tr
                %td Overstock Location
                %td= @consumable.overstock_location
              %tr
                %td Overstock Notes
                %td= @consumable.overstock_notes
            %div.card-body
              %p.text-center.form-group
                = link_to 'Print Medium Bin Tag', consumable_print_med_path, :class => "btn btn-outline-dark"
                = link_to 'Print Large Bin Tag', consumable_print_large_path, :class => "btn btn-outline-dark"
              %h6.text-center Item Tags
              %div.text-center
                = form_with url: incoming_consumable_maker_path, local: true, method: :post do |f|
                  = f.number_field :item_quantity, :class => "form-control"
                  = f.submit "Create Item Tags", :class => "btn btn-outline-primary"

  %div.row.top-buffer
    %div.col
      %div.card
        %div.card-header.text-center
          %h5 Add To Order / BOM
        %div.card-body

          - current_cons = @consumable.id
          - if @consumable.obsolete? or @order_select.blank?
            - if @consumable.obsolete?
              %p
                This consumable is obsolete, you cannot add it to a new order.
            - else
              %p
                There are no open orders to add a consumable to.
          - else
            = simple_form_for(@line_item) do |f|
              = f.error_notification
              = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
              .form-inputs
              = f.association :order, collection: @order_select, :label_method => :order_id, prompt: 'Select an order to add this consumable to'
              = f.input :quantity
              = f.input :consumable_id, input_html: {value: current_cons}, as: :hidden
              .form-actions
                = f.button :submit, :class => "btn btn-success"

  %div.row.top-buffer
    %div.col
      %div.card
        %div.card-header.text-center
          %h5 Change Log (10 most recent changes)
        %div.card-body
        %table.table.table-hover
          %thead
            %tr
            %th Type
            %th When
            %th Who
            %th What Changed
          - @consumable.audits.order(id: :desc).last(10).each do |audit|
            %tr
              %td= audit.action
              %td= audit.created_at
              -if audit.user_id == nil
                %td Automated Removal
              - else
                %td= @user.find(audit.user_id).email
              %td
                - audit.audited_changes.each do |k, v|
                  %b= k.titleize
                  - if v.class == Array # if updated
                    from
                    %b= "'#{v[0]}'"
                    to
                    %b= "'#{v[1]}'"
                    %br
                  - else # if created
                    = v
