<!DOCTYPE html>
<html>
  <head>
    <title>PartBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/53e402c9e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/main_header" %>
    <div class="container-fluid">

      <%= yield %>

    </div>
    
    <footer class="footer">
      <div class="container-fluid">
      <%= render "shared/main_footer" %>
      </div>
    </footer>

  </body>
</html>
